{% from '/macros/modals.html' import modal %}
{% from '/macros/forms.html' import input %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{{ title|default('ADD A TITLE') }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/style.css">
        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
<body>
    <nav class="navbar navbar-inverse navbar-static-top header">
        <div class="container">
            <a class="navbar-brand" href="{{ INDEX }}">Kno</a>
            <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse navHeaderCollapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{{ HOME if user != None else INDEX }}">Home</a></li>
                    <li><a href="mailto:mattstark75@gmail.com?Subject=Major%20Work" target="_top">Contact Us</a></li>
                    {% if user == None %}
                        <li><a href="#login" data-toggle="modal">Login</a></li>
                        <li><a href="#register" data-toggle="modal">Sign Up</a></li>
                    {% else %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, {{ user.fname }} <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="{{ PROFILE }}">Profile</a></li>
                                <li><a href="{{ LOGOUT }}">Logout</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        {% block content %}ADD SOME CONTENT{% endblock %}
    </div>
    <noscript>
        For full functionality of this site it is necessary to enable JavaScript.
        Here are the <a href="http://www.enable-javascript.com/" target="_newtab">
        instructions how to enable JavaScript in your web browser</a>.
    </noscript>

    <nav class="navbar navbar-default navbar-static-bottom footer">
        <div class="container">
            <img src="/images/html5.png" class="navbar-text text-left" alt="html5 valid">
            <p class="navbar-text text-center">Site Designed And Created By Matthew Stark</p>
            <img src="/images/css3.png" class="navbar-text text-right" alt="css3 valid">
        </div>
    </nav>

    <script src="/js/jquery-2.0.3.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/page.js"></script>

    {% if user == None %}
        {% call modal('login', 'Login', '/login', 'Login') %}
            {{ input('email', 'Email', 'email', 'emailLogin', 'Enter Email') }}
            {{ input('password', 'Password', 'pwd', 'pwdLogin', 'Enter Password') }}
        {% endcall %}

        {% call modal('register', 'Sign Up', '/register', 'Register') %}
            {{ input('email', 'Email', 'email', 'emailRegister', 'Enter Email') }}
            {{ input('password', 'Password', 'pwd', 'pwdRegister', 'Enter Password') }}
            {{ input('password', 'Confirm Password', 'confpwd', 'confpwdRegister', 'Enter Password') }}
            {{ input('text', 'First Name', 'fname', 'fnameRegister', 'Enter First Name') }}
            {{ input('text', 'Surname', 'lname', 'lnameRegister', 'Enter Surname') }}
        {% endcall %}
    {% endif %}

    {% if err is defined %}
    <div class="openmodal hidden" id="{{ outerid }}"></div>
    <dl class="errlist hidden">
        {% for key, val in err.iteritems() %}
            <div><dt>{{ '' if key == None else key }}</dt><dd>{{ val }}</dd></div>
        {% endfor %}
    </dl>
    <dl class="origvals hidden"">
        {% for key, val in origvals.iteritems() %}
            <div><dt>{{ key }}</dt><dd>{{ val }}</dd></div>
        {% endfor %}
    </dl>
    {% endif %}
</body>
</html>
