{% set title = 'Home' %}
{% extends '/base.html' %}

{% block content %}
    <!-- TODO: have a speel about the site, add in some massive images like school websites have -->
    <p>
            This site is designed to be a collaborative elearning site where teachers can
            share tasks and courses that they have created, and is designed to make the jobs
            of both teachers and students easier by providing easy ways to do things such as
            hand in assignments and provide updates on those assignments.
    </p>
{% endblock %}
